{% extends "base.html.twig" %}

{% form_theme form with [
    'form/template.html.twig'
]%}

{% block body %}
    <h2>{{ is_create ? 'Ajouter un article' : 'Modifier cet article'}}</h2>
    <!-- ternaire twig pour : if ( is_create == true) {} else {}-->
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}