{% extends "base.html.twig" %}

{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <h3>{{ article.category }}</h3>
        {{ article.content }}
        {% if article.publishedAt %}
            <p>Article publié le {{ article.publishedAt }}</p>
        {% else %}
            <p>{{ article.status }}</p>
        {% endif %}
    </article>
    <div>
    <h3> Commentaires </h3>
    {% for comment in article.comments %}
    <p>{{ comment.content }}</p>
    {% else %}
    <p> Aucun commentaire </p>
    {% endfor %}
    <!-- Affichage des commentaires -->
    <h3> Ajouter un commentaire </h3>
    {{ form(form) }}
    </div>
{% endblock %}